<div class="linkbox">
    <div class="linkbox-inner">
        <div class="linkbox-wrapper">
            <div class="linkbox-content">
                <a href="/sales/" class="linkbox-card">
                    <div class="linkbox-card-img">
                        <img src="/assets/linkbox/Sales-Icon-Black.png" alt="">
                    </div>
                    <div class="linkbox-card-box">
                        <p class="linkbox-card-title">
                            Aircraft Sales
                        </p>
                        <p class="linkbox-card-text">
                            航空機販売
                        </p>
                    </div>
                </a>
                <a href="/maintenance/" class="linkbox-card">
                    <div class="linkbox-card-img">
                        <img src="/assets/linkbox/Maintenance-Icon-Black.png" alt="">
                    </div>
                    <div class="linkbox-card-box">
                        <p class="linkbox-card-title">
                            Maintenance
                        </p>
                        <p class="linkbox-card-text">
                            航空機整備
                        </p>
                    </div>
                </a>
                <a href="/transport/" class="linkbox-card">
                    <div class="linkbox-card-img">
                        <img src="/assets/linkbox/Transport-Icon-Black.png" alt="">
                    </div>
                    <div class="linkbox-card-box">
                        <p class="linkbox-card-title">
                            Transport &amp; Salvage
                        </p>
                        <p class="linkbox-card-text">
                            輸送・サルベージ
                        </p>
                    </div>
                </a>
                <a href="/remodel/" class="linkbox-card">
                    <div class="linkbox-card-img">
                        <img src="/assets/linkbox/Remodeling-Icon-Black.png" alt="">
                    </div>
                    <div class="linkbox-card-box">
                        <p class="linkbox-card-title">
                            Remodeling
                        </p>
                        <p class="linkbox-card-text">
                            改造・内装
                        </p>
                    </div>
                </a>
                <a href="/paint/" class="linkbox-card">
                    <div class="linkbox-card-img">
                        <img src="/assets/linkbox/Painting-Icon-Black.png" alt="">
                    </div>
                    <div class="linkbox-card-box">
                        <p class="linkbox-card-title">
                            Painting
                        </p>
                        <p class="linkbox-card-text">
                            塗装
                        </p>
                    </div>
                </a>
                <a href="/other/" class="linkbox-card">
                    <div class="linkbox-card-img">
                        <img src="/assets/linkbox/Other-Icon-Black.png" alt="">
                    </div>
                    <div class="linkbox-card-box">
                        <p class="linkbox-card-title">
                            Other Services
                        </p>
                        <p class="linkbox-card-text">
                            その他
                        </p>
                    </div>
                </a>
            </div>
            <div class="linkbox-content">
                <a href="/company/" class="linkbox-card">
                    <div class="linkbox-card-img">
                        <img src="/assets/linkbox/Company-Icon-Black.png" alt="">
                    </div>
                    <div class="linkbox-card-box">
                        <p class="linkbox-card-title">
                            Our Company
                        </p>
                        <p class="linkbox-card-text">
                            会社概要
                        </p>
                    </div>
                </a>
                <a href="/achievements/" class="linkbox-card">
                    <div class="linkbox-card-img">
                        <img src="/assets/linkbox/Achievements-Icon-Black.png" alt="">
                    </div>
                    <div class="linkbox-card-box">
                        <p class="linkbox-card-title">
                            Achievements
                        </p>
                        <p class="linkbox-card-text">
                            業務実績
                        </p>
                    </div>
                </a>
                <a href="/investment/" class="linkbox-card">
                    <div class="linkbox-card-img">
                        <img src="/assets/linkbox/Investment-Icon-Black.png" alt="">
                    </div>
                    <div class="linkbox-card-box">
                        <p class="linkbox-card-title">
                            Investor Relations
                        </p>
                        <p class="linkbox-card-text">
                            IR情報
                        </p>
                    </div>
                </a>
                <a href="/recruitment/" class="linkbox-card">
                    <div class="linkbox-card-img">
                        <img src="/assets/linkbox/Recruitment-Icon-Black.png" alt="">
                    </div>
                    <div class="linkbox-card-box">
                        <p class="linkbox-card-title">
                            Recruitment
                        </p>
                        <p class="linkbox-card-text">
                            採用情報
                        </p>
                    </div>
                </a>
                <a href="/securitypolicy/" class="linkbox-card">
                    <div class="linkbox-card-img">
                        <img src="/assets/linkbox/Security-Policy-Icon-Black.png" alt="">
                    </div>
                    <div class="linkbox-card-box">
                        <p class="linkbox-card-title">
                            Security Policy
                        </p>
                        <p class="linkbox-card-text">
                            情報セキュリティ基本方針
                        </p>
                    </div>
                </a>
                <a href="/contact/" class="linkbox-card">
                    <div class="linkbox-card-img">
                        <img src="/assets/linkbox/Contact-Icon-Black.png" alt="">
                    </div>
                    <div class="linkbox-card-box">
                        <p class="linkbox-card-title">
                            Contact Us
                        </p>
                        <p class="linkbox-card-text">
                            お問い合わせ
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
